@use "./includes.scss" as *;

@each $name, $width in $container-width {
  .container-#{$name} {
    width: $width;
    padding: 50px 25px;

    @media screen and (max-width: $width) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding: 25px 10px;
    }
  }
}

.container-main-100 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
